.profile {
    width: 410px;
    padding: 74px 0 40px;
    box-sizing: border-box;
}

.profile__form {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.profile__title {
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
    margin: 0;
}

.profile__labels-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 107px 0 203px;
}

.profile__name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #E8E8E8;
}

.profile__email {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.profile__label-text {
    padding: 17px 0;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.18;
}

.profile__input {
    padding: 16px 0;
    box-sizing: border-box;
    border-style: none;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.18;
    background-color: transparent;
    color: #000;
    text-align: right;
}

.profile__input_error {
    color: #ee3465;
}

.profile__input[type="email"] {
    border: none;
}

.profile__input:focus {
    outline: none;
    border-bottom: 1px solid #2BE080;
}

.profile__error {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #ee3465;
    position: absolute;
    top: 47px;
}

.profile__error-name {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #ee3465;
    position: absolute;
    top: -20px;
}

.profile__button-container {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.profile__button-edit {
    padding: 0;
    margin-top: auto;
    border: none;
    background-color: transparent;
    color: #000;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.23;
    transition: all 0.3s ease;
    cursor: pointer;
}

.profile__button-edit:hover {
    opacity: 0.8;
}

.profile__button-edit_disabled {
    color: #8b8b8b;
    cursor: default;
}

.profile__button-edit_disabled:hover {
    opacity: 1;
}

.profile__button-exit {
    padding: 0;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: normal;
    background-color: transparent;
    color: #ee3465;
    transition: all .3s ease;
    cursor: pointer;
    text-decoration: none;
}

.profile__button-exit:hover {
    opacity: 0.8;
}

@media screen and (max-width: 800px) {
    .profile {
        padding-top: 236px;
    }

    .profile__labels-container {
        margin: 80px 0 193px;
    }
}

@media screen and (max-width: 500px) {
    .profile {
        width: 260px;
        padding: 70px 0 0;;
    }

    .profile__labels-container {
        margin: 64px 0 362px;
    }

    .profile__button-edit {
        font-size: 12px;
        line-height: 1.25;
    }

    .profile__button-exit {
        font-size: 12px;
        line-height: 1.25;
    }

    .profile__error-name {
        top: -28px;
    }

    .profile__button-container {
        gap: 16px;
    }
}