.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.not-found__title {
    margin: 0;
    margin-top: 250px;
    font-size: 140px;
    font-weight: 400;
}

.not-found__message {
    margin: 0;
    margin-top: 9px;
    font-size: 16px;
    font-weight: 400;
}

.not-found__link {
    margin-top: 184px;
    text-decoration: none;
}

.not-found__button {
    padding: 0;
    background-color: transparent;
    border: none;
    color: var(--link-font-color);
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width: 1280px) {
    .not-found__title {
        margin-top: calc(412px + (250 - 412) * (100vw - 768px) / (1280 - 768));
    }
}

@media screen and (max-width: 768px) {
    .not-found__title {
        margin-top: calc(332px + (412 - 332) * (100vw - 320px) / (768 - 320));
        font-size: 18vw;
    }

    .not-found__message {
        margin-top: calc(13px + (9 - 13) * (100vw - 320px) / (768 - 320));
        font-size: 2.1vw;
    }

    .not-found__link {
        margin-top: calc(281px + (184 - 281) * (100vw - 320px) / (768 - 320));
    }

    .not-found__button {
        font-size: 1.8vw;
    }
}

@media screen and (max-width: 380px) {
    .not-found__title {
        margin-top: 332px;
        font-size: 25vw;
    }

    .not-found__message {
        margin-top: 13px;
        font-size: 3.8vw;
    }

    .not-found__link {
        margin-top: 281px;
    }

    .not-found__button {
        font-size: 3.7vw;
    }
}