.portfolio {
  width: 100%;
  max-width: 1140px;
  padding-top: 100px;
  padding-bottom: 109px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.portfolio__title {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: var(--secondary-font-color);
}

.portfolio__list {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  box-sizing: border-box;
}

.portfolio__item {
  display: flex;
  padding-bottom: 19px;
  border-bottom: 1px solid var(--border-secondary);
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.portfolio__item:last-child {
  padding-bottom: 0;
  border: none;
}

.portfolio__link {
  position: relative;
  width: 100%;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -1.2px;
  font-weight: 400;
  color: var(--color);
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__arrow {
  content: "\2197";
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-40%);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1280px) {
  .portfolio {
    max-width: calc(668px + (1140 - 668) * (100vw - 768px) / (1280 - 768));
    padding-top: calc(90px + (100 - 90) * (100vw - 768px) / (1280 - 768));
    padding-bottom: calc(91px + (110 - 91) * (100vw - 768px) / (1280 - 768));
  }

  .portfolio__link {
    font-size: calc(28px + (30 - 28) * (100vw - 768px) / (1280 - 768));
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    max-width: calc(292px + (668 - 292) * (100vw - 320px) / (768 - 320));
    padding-top: calc(70px + (90 - 70) * (100vw - 320px) / (768 - 320));
    padding-bottom: calc(70px + (91 - 70) * (100vw - 320px) / (768 - 320));
  }

  .portfolio__list {
    gap: 20px;
  }

  .portfolio__link {
    font-size: calc(18px + (28 - 18) * (100vw - 320px) / (768 - 320));
    letter-spacing: -1.12px;
  }

  .portfolio__arrow {
    width: 23px;
    height: 17px;
    right: 4px;
    transform: translateY(-119%);
  }
}

@media screen and (max-width: 380px) {
  .portfolio {
    max-width: 292px;
    padding-bottom: 70px;
  }

  .portfolio__list {
    margin-top: 41px;
    gap: 21px;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }

  .portfolio__arrow {
    right: -5px;
    transform: translateY(-78%);
  }
}
