.show-more-button {
  align-items: center;
  background: transparent;
  border: 1px solid var(--border-secondary);
  border-radius: 6px;
  color: var(--color);
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  line-height: 15px;
  margin: 59px auto 0;
  max-width: 320px;
  padding: 0;
  transition: opacity 0.4s;
  width: 100%;
}

.show-more-button:hover {
  opacity: 0.8;
}

.show-more-button_disabled,
.show-more-button_disabled:hover {
  cursor: default;
  opacity: 0.6;
}

@media screen and (max-width: 380px) {
  .show-more-button {
    margin: 60px auto 0;
    max-width: 240px;
  }
}