.search {
    max-width: 1280px;
    width: 100%;
    padding: 70px 70px 69px;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
}

.search__form {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 227px;
    position: relative;
    background-color: #F9F9F9;
    border-radius: 9px;
}

.search__input {
    width: 100%;
    text-align: left;
    background-color: #F9F9F9;
    border: none;
    color: #000;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    box-sizing: border-box;
    padding: 15px 0px 23px 63px;
    border-radius: 9px;
}

.search__input::placeholder {
    color: #A0A0A0;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;

}

.search__button {
    border: none;
    background-image: url("../../images/find-button.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 34px 34px;
    background-color: transparent;
    box-sizing: border-box;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 3%;
    right: 22.5%;
    transform: translateY(50%);
    transition: all 0.3s ease;
}

.search__button:hover {
    opacity: 0.8;
}

.search__form::before {
    content: "";
    width: 34px;
    height: 34px;
    background-image: url("../../images/find-input.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14px;
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    .search {
        padding: 73px 30px 61px;
    }
}

@media screen and (max-width: 400px) {
    .search {
        padding: 85px 14px 50px;
    }

    .search__input {
        text-align: left;
        font-size: 18px;
        line-height: 1.22;
        padding-left: 0;
    }

    .search__button {
        top: -10px;
    }

    .search__form::before {
        content: none;
    }
}