.footer {
  padding-top: 94px;
  padding-bottom: 20px;
}

.footer__container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.footer__about {
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  color: var(--secondary-font-color);
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  border-top: 1px solid var(--border-secondary);
}

.footer__year {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  color: var(--secondary-font-color);
}

.footer__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 20px;
  list-style: none;
}

.footer__list-item {
  font-size: 13px;
  line-height: 16px;
}

.footer__list-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--color);
  transition: opacity 0.4s;
}

.footer__list-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1280px) {
  .footer__container {
    max-width: calc(708px + (1140 - 708) * (100vw - 768px) / (1280 - 768));
  }
}

@media screen and (max-width: 768px) {
  .footer__container {
    max-width: calc(300px + (708 - 300) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 380px) {
  .footer__container {
    max-width: 300px;
    gap: 21px;
  }

  .footer__about {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__info {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 29px;
  }

  .footer__year {
    font-size: 12px;
    line-height: 15px;
    color: var(--secondary-font-color);
    margin-top: 30px;
  }

  .footer__list {
    gap: 11px;
  }

  .footer__list-link {
    font-size: 12px;
    line-height: 15px;
  }
}
