/* Base Styles */
.techs {
  width: 100%;
  max-width: 1280px;
  background-color: var(--underlay);
  padding: 100px 0;
  box-sizing: border-box;
}

.techs__container {
  max-width: 1140px;
  margin: 0 auto;
}

.techs__title {
  margin: 0;
  padding: 0 0 24px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
  border-bottom: 1px solid var(--border-color);
}

.techs__subtitle {
  margin: 90px 0 26px;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 58px;
  text-align: center;
}

.techs__about {
  margin: 0 auto;
  max-width: 460px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
  line-height: 20px;
  text-align: center;
}

.techs__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  margin: 100px auto 0;
  padding: 0;
}

.techs__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 60px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
  border-radius: 10px;
  background: var(--underlay-accent);
}

/* Media Queries */
@media screen and (max-width: 1280px) {
  .techs__container {
    max-width: calc(668px + (1140 - 668) * (100vw - 768px) / (1280 - 768));
  }

  .techs__item {
    width: calc(84px + (90 - 84) * (100vw - 768px) / (1280 - 768));
    height: calc(57px + (60 - 57) * (100vw - 768px) / (1280 - 768));
  }
}

@media screen and (max-width: 768px) {
  .techs {
    padding: 93px 0 91px;
  }

  .techs__title {
    padding: 0 0 22px;
  }

  .techs__container {
    max-width: calc(284px + (668 - 284) * (100vw - 320px) / (768 - 320));
  }

  .techs__subtitle {
    margin: 80px 0 22px;
    font-size: 50px;
    letter-spacing: -2px;
    line-height: 58px;
  }

  .techs__about {
    font-size: 12px;
    letter-spacing: -0.48px;
    line-height: 18px;
  }

  .techs__list {
    margin: 83px 0 0;
  }

  .techs__item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 380px) {
  .techs {
    padding: 60px 0 70px;
  }

  .techs__container {
    max-width: 284px;
  }

  .techs__title {
    padding: 0 0 28px;
    font-size: 18px;
  }

  .techs__subtitle {
    margin: 49px 0 13px;
    font-size: 30px;
    letter-spacing: -1.2px;
  }

  .techs__about {
    max-width: 292px;
    font-size: 11px;
    letter-spacing: -0.44px;
    line-height: 16px;
  }

  .techs__list {
    grid-template-columns: repeat(2, auto);
    display: grid;
    margin: 50px 0 0;
  }

  .techs__item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}